:root {
  --base-white: #eef;
  --base-font-size: 2vh;
  --base-font-family: Arial, Liberation Sans, Sans Serif;
  --base-background-color: #303040;
  --background-highlight1-color: #585874;
  --background-highlight2-color: #636383;
}

body {
  background-image: url("assets/background.png");
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  color: var(--base-white);
}

h1 {
  margin: 0.5em;
  font-size: 3em;
  font-style: italic;
}

input {
  border-color: var(--base-white);
  border-radius: 0.3em;
  padding: 0.2em;
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  color: var(--base-white);
  background-color: var(--base-background-color);
}

input:disabled {
  border-style: solid;
  border-color: gray;
}

button {
  margin: 0 0.5em;
  border-color: var(--base-white);
  border-width: 2px;
  border-radius: 0.3em;
  padding: 0.2em;
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  color: var(--base-white);
  background-color: var(--base-background-color);
  cursor: pointer;
}

button:focus {
  background-color: var(--background-highlight1-color);
}

button:not([disabled]):hover {
  background-color: var(--background-highlight2-color);
}

button:disabled {
  border-style: solid;
  border-color: gray;
  cursor: default;
}

div.floatWrapper::after {
  /* Add zero-height content after a div to clear float behavior */
  content: " ";
  height: 0;
  clear: both;
}

.cell {
  /* float forces block; box-sizing allows width and height to include border and padding which forces button to behave consistently */
  float: left;
  margin: 0;
  box-sizing: border-box;
  width: 5vh;
  height: 4vh;
  border-width: 2px;
  border-color: var(--base-white);
  padding: 0.4vh;
  line-height: 3vh;
}

span.cell {
  border-style: solid;
  border-color: var(--base-white);
  border-radius: 0.6vh;
  text-align: right;
}

button.cell.symbol {
  color: darkred;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.w2 {
  width: 4vh;
}

.w10 {
  width: 20vh;
}

.w15 {
  width: 30vh;
}
